<main>
  <div class="head-title">
    <div class="left">
      <h1>Payroll</h1>
    </div>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Payroll Information</h3>
        <i class="bx bx-filter"></i>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Job Title</th>
            <th scope="col">Department</th>
            <th scope="col">Base Salary</th>
            <th scope="col">Account Number</th>
          </tr>
        </thead>
        <tbody>
          <!-- Row 1 -->
          <tr>
            <td>EMP123</td>
            <td>Software Engineer</td>
            <td>IT</td>
            <td>$1000</td>
            <td>3221 2311 1309 XXXX</td>
          </tr>
          <!-- Row 2 -->
        </tbody>
      </table>
    </div>
  </div>
</main>
