<main>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Employees List</h3>
        <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i>
      </div>
      <div class="employees-table">
        <table>
          <thead>
            <tr>
              <th>Employees</th>
              <th>Position</th>
              <th>Email</th>
              <th>phone number</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.firstName + " " + employee.lastName }}</td>
              <td>{{ employee.position }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.phoneNumber}}</td>
              <th>{{employee.address}}</th>
              <td>
                <button class="btn btn-primary"><i class='bx bxs-edit'></i></button>
                <button class="btn btn-danger m-2" (click)="deleteEmployee(employee._id)"><i class='bx bxs-trash'></i></button>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</main>
