<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class="bx bxs-smile"></i>
    <span class="text">HRMS</span>
  </a>
  <ul class="side-menu top">
    <li [routerLinkActive]="'active'">
      <a routerLink="/dashboard">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/department">
        <i class="bx bxs-buildings"></i>
        <span class="text">Departments</span>
      </a>
    </li>
    <li
      class="dropdown"
      (click)="toggleEmployeesDropdown()"
      [routerLinkActive]="'active'"
    >
      <a>
        <i class="bx bxs-user"></i>
        <span class="text">Employees</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isEmployeesDropdownOpen">
        <li>
          <a routerLink="/employees/add-employee">
            <i class="bx bx-plus-circle"></i>
            <span class="nav-text">Add Employee</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-minus-circle"></i>
            <span class="nav-text">Archive Employee</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" (click)="toggleAttendanceDropdown()" >
      <a>
        <i class="bx bx-clipboard"></i>
        <span class="text">Attendance</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isAttendanceDropdownOpen">
        <li>
          <a routerLink="attendance">
            <span class="nav-text">Employees Attendance</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" (click)="toggleRequestsDropdown()">
      <a>
        <i class="bx bx-news"></i>
        <span class="text">Requests</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isRequestsDropdownOpen">
        <li>
          <a routerLink="requests/leaves">
            <span class="nav-text">Leaves</span>
          </a>
        </li>
        <li>
          <a routerLink="requests/resignations">
            <span class="nav-text">Resignation</span>
          </a>
        </li>
      </ul>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/claims">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Claims</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/payroll">
        <i class="bx bxs-wallet-alt"></i>
        <span class="text">Payroll</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class="bx bxs-cog"></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a routerLink="/login" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
