<main>
  <div class="head-title">
    <div class="left">
      <h1>CheckOut</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Attendance</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">checkout</a>
        </li>
      </ul>
    </div>
    <a href="#" class="btn-download">
      <i class="bx bxs-cloud-download"></i>
      <span class="text">Download PDF</span>
    </a>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>CheckOut</h3>
        <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i>
      </div>
      <form action="">
          <!-- Input 1 -->
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter Username"
            />
          </div>

          <!-- Input 2 -->
          <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input
              type="number"
              class="form-control"
              id="code"
              placeholder="Enter code"
            />
          </div>
          <!-- Input 3 -->
          <div class="mb-3">
            <label for="intime" class="form-label">CheckOut</label>
            <input type="time" class="form-control" id="intime" />
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="add-project-sidebar btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
</main>
