<main>
  <div class="head-title">
    <div class="left">
      <h1>Leaves</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">requests</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">leave</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <form class="ml-8 row">
          <!-- Input 2 -->
          <div class="mb-3 form-group col-md-5">
            <label for="code" class="form-label">Code</label>
            <input
              type="number"
              class="form-control"
              id="code"
              placeholder="Enter code"
            />
          </div>
          <!-- Input 1 -->
          <div class="mb-3 form-group col-md-5">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter Username"
            />
          </div>
          <!-- Input 3 -->
          <div class="mb-3 form-group col-md-5">
            <label for="stdate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="stdate" />
          </div>
          <div class="mb-3 form-group col-md-5">
            <label for="enddate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="enddate" />
          </div>
          <div class="mb-3 form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
